project/Step Function/template.json
{"Resources":{"StateMachineb2d00f7d":{"Type":"AWS::StepFunctions::StateMachine","Properties":{"Definition":{"Comment":"A description of my state machine","StartAt":"Lambda Invoke (Prepare Image)","States":{"Lambda Invoke (Prepare Image)":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Output":"{% $states.result.Payload %}","Arguments":{"FunctionName":"${lambdainvoke_FunctionName_25148c4a}","Payload":{"image_data":"","s3_bucket":"sagemaker-us-east-1-911167891464","s3_key":"test/bicycle_s_000513.png"}},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2,"JitterStrategy":"FULL"}],"Next":"Lambda Invoke (Predict)"},"Lambda Invoke (Predict)":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Output":"{% $states.result.Payload %}","Arguments":{"FunctionName":"${lambdainvoke_FunctionName_f751b543}","Payload":"{% $states.input %}"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2,"JitterStrategy":"FULL"}],"Next":"Lambda Invoke (Filter Low Confidence)"},"Lambda Invoke (Filter Low Confidence)":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Output":"{% $states.result.Payload %}","Arguments":{"FunctionName":"${lambdainvoke_FunctionName_78c105aa}","Payload":"{% $states.input %}"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2,"JitterStrategy":"FULL"}],"End":true}},"QueryLanguage":"JSONata"},"DefinitionSubstitutions":{"lambdainvoke_FunctionName_25148c4a":"arn:aws:lambda:us-east-1:911167891464:function:serializeImageData:$LATEST","lambdainvoke_FunctionName_f751b543":"arn:aws:lambda:us-east-1:911167891464:function:predictImageClass:$LATEST","lambdainvoke_FunctionName_78c105aa":"arn:aws:lambda:us-east-1:911167891464:function:filterLowConfidencePredictions:$LATEST"},"RoleArn":{"Fn::GetAtt":["Role4cd10e7a","Arn"]},"StateMachineName":"StateMachineb2d00f7d","StateMachineType":"STANDARD","EncryptionConfiguration":{"Type":"AWS_OWNED_KEY"},"LoggingConfiguration":{"Level":"OFF","IncludeExecutionData":false}}},"Role4cd10e7a":{"Type":"AWS::IAM::Role","Properties":{"RoleName":"StepFunctions_IAM_ROLE_MySconesnlimitedImageClassificat86f3ecc9","AssumeRolePolicyDocument":{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Principal":{"Service":"states.amazonaws.com"},"Action":"sts:AssumeRole"}]},"MaxSessionDuration":3600}},"Policy44523531":{"Type":"AWS::IAM::RolePolicy","Properties":{"PolicyName":"XRayAccessPolicye33347b5","RoleName":{"Ref":"Role4cd10e7a"},"PolicyDocument":{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Action":["xray:PutTraceSegments","xray:PutTelemetryRecords","xray:GetSamplingRules","xray:GetSamplingTargets"],"Resource":["*"]}]}}},"Policyfde9e0b2":{"Type":"AWS::IAM::RolePolicy","Properties":{"PolicyName":"LambdaInvokeScopedAccessPolicyb7125064","RoleName":{"Ref":"Role4cd10e7a"},"PolicyDocument":{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Action":["lambda:InvokeFunction"],"Resource":["arn:aws:lambda:us-east-1:911167891464:function:serializeImageData:*","arn:aws:lambda:us-east-1:911167891464:function:predictImageClass:*","arn:aws:lambda:us-east-1:911167891464:function:filterLowConfidencePredictions:*"]},{"Effect":"Allow","Action":["lambda:InvokeFunction"],"Resource":["arn:aws:lambda:us-east-1:911167891464:function:serializeImageData","arn:aws:lambda:us-east-1:911167891464:function:predictImageClass","arn:aws:lambda:us-east-1:911167891464:function:filterLowConfidencePredictions"]}]}}}}}